{% load static %}
<!-- Footer -->
<section class="bg-dark text-light">
    <div class="container">
      <footer class="container py-5 fixed mx-auto">
        <div class="row">
          <div class="col-md-5 offset-md-1 mb-3 text-start">
            <h4 class="mb-4">In Partnership with</h4>
            <ul class="nav flex-column d-flex">
                <li class="nav-item mb-4">
                  <div class="container rounded-5 d-flex">
                    <img src="{% static 'img/partner2.png'%}" width="80" height="80" alt="">
                  </div>
                </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h4 class="mb-4">COMPANY</h4>
            <ul class="nav flex-column d-grid">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light" data-bs-toggle="modal" data-bs-target="#FAQ">FAQ</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light" data-bs-toggle="modal" data-bs-target="#Contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <h4 class="mb-4">LEGAL</h4>
            <ul class="nav flex-column d-grid">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Terms of Use</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Privacy Policy</a></li>
            </ul>
          </div>
    
          <div class="col-md-5 offset-md-1 mb-3 text-start mt-4">
            <form>
              <h4>Disclaimer</h4>  
              <caption>
                  We don't own, cache or host any files on our server, 
                  all links are from external sources on the web that we don't have access. 
                  Use this youtube downloader for LEGAL entertainment purposes only. 
                  Do not download copyrighted material without permission from the owner.
              </caption>
            </form>
          </div>
        </div>
    
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>&copy; 2024 <a href="https://earnest-puppy-53aea3.netlify.app" class="text-decoration-none text-light">Ndelembi</a>. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </section> 