{% load static %}
<!------------------------------------------ navbar  ------------------------------------------------>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
      <a href="" class="navbar-brand">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
          <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
          <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
          <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
          <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
        </svg>
        Freebie
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-bs-target="#FAQ" data-bs-toggle="modal">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-bs-target="#Contact" data-bs-toggle="modal">Contacts</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link">Welcome, {{ user.username }}</span>
            </li>
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}" class="d-inline"></form>
                {% csrf_token %}
                <button type="submit" class="nav-link" style="background: none; border: none;">Sign Out</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">Sign In</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'register' %}" class="nav-link">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-------------------------------------------- end of navbar --------------------------------------->